@charset "utf-8";
/* CSS Document */

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			width:1024px;
			height:40px;
			background-color:#000;
}